:root{
    --orange-color:#da722c;
    --light-blue:#6f7dfb;
    --light-color:#e8f7fb;
}
*{
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.heading{
    color: var(--orange-color)
}
.heading:hover{
    background-color: #e8f7fb;
    color: black;
    cursor: pointer;
}

.head{
    color: var(--light-blue);
}
.align{
    text-align: center;
}
.para{
    font-size: x-large;
    font-weight: bold;
    color: var(--light-color);
}
#fourth{
  color:deeppink
}
.inline{
    text-align: center;
    display: inline;
    background-color: chartreuse;
    color: red;
}
#fifth{
  color:deeppink
}

.block{
 text-align: center;
    display: block;
    background-color: chartreuse;
    color: red;
}
a{
    text-decoration: none;
}
/*unvisited */
a:link{
    color: aqua;
}
a:visited{
    color: chartreuse;
}
a:hover{
    color: darkorange;
}
a:active{
    color: yellow;
}