:root{
    --orange-color:#da722c;
    --light-blue:#6f7dfb;
    --light-color:#e8f7fb;
}
*{
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.heading{
    color: var(--orange-color)
}

.head{
    color: var(--light-blue);
}
.align{
    text-align: center;
}
.para{
    font-size: x-large;
    font-weight: bold;
    color: var(--light-color);
}
#fourth{
  color:deeppink
}